
.App {
  text-align: center;
  background-color: #162241;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
    flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  width: 85%;
  margin: auto;
}

@media (max-width: 767px) {
  .card {
    width: 95%;
    margin: auto;
    margin-bottom: 1.5vh;
  }

  .bucky {
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    background-color: #C72126;
    height: 4em;
    width: 8em;
    position: relative;
  }

  .bucky img {
    position: absolute;
    bottom: 0;
    left: 35%;
  }

  .card-title {
    text-align: left;
  }
}

.header-container {
  height: 70vh;
  width: 100%;
}

.ui-container {
  height: 100%;
  display: flex;
  flex-flow: column;

}
.main-footer {
  margin-top: 5em;
  padding: 1em;
  color: white;
}

.bucky {
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
  background-color: #C72126;
  height: 5em;
  width: 10em;
  position: relative;
}

.bucky img {
  position: absolute;
  bottom: 0;
  left: 35%;
}

.top-header-card > img {
  height: 6em;
  width: 6em;
  border-radius: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.top-header-card {
  margin: 1em;
  display: inline-flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.test {
  height: 400px;
}

.card-title {
  margin: 1em;
  font-size: 25px;
  text-align: center;
}

.first-content {
  text-align: left;
  font-size: 15px;
  margin: 1em;
}

.first-content p {
  margin-bottom: 0.5em;
  margin-top: 0;
}

.first-content > p:nth-child(0) {
  font-size: 20px;
}

.first-content > p:nth-child(1) {
  font-size: 20px;
}
