@font-face {
  font-family: 'Avenir-Book';
  src: local('Avenir-Book'), url(./assets/fonts/Avenir-Book.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir-Book' !important;
}

#root {
  height: 100%;
}

body, html {
  height: auto !important;
}
